<%- include('../includes/header'); %>

    <div class="container">
        <h2>Add Category</h2>

        <form action="/category/store" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                <input type="text" name="name" class="form-control" id="name" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<%- include('../includes/footer'); %>