<%- include('../includes/header'); %>

  <div class="container">
    <h1>Edit Category</h1>
    <form action="/category/<%= category.id %>/edit/" method="post">
      <div class="mb-3">
        <label for="content" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= category.name %>">
      </div>
      <button class="btn btn-primary">
        Submit
      </button>
    </form>
  

  </div>

  <%- include('../includes/footer'); %>