<%- include('../includes/header'); %>

  <div class="container">
    <h1>Category</h1>
    
    <div class="mb-4">
        <a href="/category/create" class="btn btn-outline-primary me-2">+ Add Category</a>
    </div>
    
  </div>

<%- include('../includes/footer'); %>