<%- include('../includes/header'); %>

  <div class="container">
    <h1>Hello World!</h1>
    
    <div class="mb-4">
        <a href="/food/create" class="btn btn-outline-primary me-2">+ Add Food</a>
        <a href="/category" class="btn btn-primary">Category</a>
    </div>
    
  </div>

<%- include('../includes/footer'); %>