<%- include('../includes/header'); %>

<div class="container">
    <h1>All Post</h1>
    <a href="/food/create">
      <button class="btn btn-primary">
        Add Food
      </button>
    </a>

    <a href="/categories">
    <button class="btn btn-primary">
        Manage Categories
      </button>
    </a>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Food</th>
          <th>Content</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
</div>

<%- include('../includes/footer'); %>